@import '../base/typograhie';


    .error--info {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;
        margin: 120px;

        


        h2 {
            @include text-medium;
            width:260px;
        }

        img {
            width: 284px;
            @include mobile-version {
               width: 198px;
            }

        }

        .homelink {
            @include paragraph;
        }
    }
