@import '../base/typograhie';
@import '../Utils/mixins';

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 20px;

    & a {

        @include nav-text;
        width: 30%;
        height: 34px;
        top: 17px;
        left: 931px;
        gap: 57px;


      

        @include mobile-version {
            font-size: 12px;
            text-transform: uppercase;
        }
    }
    .selected  {
        text-decoration: underline;
    }


    & ul {
        display: flex;
        flex-direction: row;
        gap: 50px;


        @include mobile-version {
            gap: 26px
        }

    }
}